APP_NAME="lan-controller-esp32"
SSID_WIFI="yourSSID"
PASSWD_WIFI="yourPassword"
ESP_IP="yourESP32IP"
WEB_PORT=80
WEB_API_TOKEN="change-this-token"
SERVER_WOL_MAC="aa:bb:cc:dd:ee:ff"
BROADCAST_WOL_IP="255.255.255.255"
